#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi2 {
    padding: 0;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi2 > div > div > div > div:nth-child(2) > div > div {
    justify-content:center;
    padding: 1rem;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div {
    margin-top: 1rem;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi2 > div > div > div > div:nth-child(2) > div > button {
    visibility: hidden;
}